body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;

}
.submit-btn{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: 50px;
}